<!DOCTYPE html>
<html>
  <head>
    <title>Fruit and Veggies</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="js/fruits_and_veggies_test.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="FruitsAndVeggies">
    <div class="container" ng-controller="MainCtrl">
      <h1>Fruit and Veggies</h1>
      <div class="row centered">
        <div class="col-sm-4">
          <h3>Fruits</h3>
          <div class="row well" ng-repeat="fruit in fruitArray track by $index">
            <h4 class="foodName col-sm-4">{{fruit}}</h4>
            <div class="col-sm-3">
              <button class="arrow" ng-click="rightClick($index)">Right</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Fruits & Veggies</h3>
          <div class="row well" ng-repeat="food in foodArray track by $index">
            <div class="col-sm-3">
              <button class="arrow" ng-click="leftClickMid($index)">Left</button>
            </div>
            <h4 class="foodName col-sm-4">{{food}}</h4>
            <div class="col-sm-3">
              <button class="arrow" ng-click="rightClickMid($index)">Right</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Veggies</h3>
          <div class="row well" ng-repeat="veggie in veggieArray track by $index">
            <div class="col-sm-3">
              <button class="arrow" ng-click="leftClick($index)">Left</button>
            </div>
            <h4 class="foodName col-sm-4">{{veggie}}</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
